<section data-section-id="{{ section.id }}" data-section-type="slideshow">
  <div class="swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
      <div class="swiper-slide">
        <div class="item">
          {%- if block.settings.link != blank -%}<a href="{{ block.settings.link }}">{%- endif -%}
          <img src="{{ block.settings.image | img_url: "1000x" }}" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}" alt="{{ block.settings.image.alt | escape }}" />
          {%- if block.settings.link != blank -%}</a>{%- endif -%}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"> </div>
    <div class="swiper-button-next"> </div>
  </div>
</section>
<style>
  .swiper {
    width: 1000px;
    overflow: visible;
  }
  .swiper-slide {
    text-align: center;
  }
  .swiper-slide img {
    width: 1000px;
    height: auto;
  }
  @media screen and (max-width: 1000px){
    .swiper {
      width: 100%;
    }
    .swiper-slide img {
      width: 100%;
    }    
  } 
</style>
<script type="text/javascript">
  !function(){
    const option = {
      loop: true,
      loopAdditionalSlides: 1,
      slidesPerView: 'auto',
      centeredSlides: true,
      spaceBetween: 0,
      speed: {{ section.settings.speed }}, //移動速度
      breakpoints: {
        1000: {
          slidesPerView: 1,
          spaceBetween: 0
        }
      },
      autoplay: {
        delay: {{ section.settings.delay }}, //スライドするまでの停止時間
        disableOnInteraction: false
      },
      slidesPerGroup: 1,
      initialSlide: 0,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
        type: 'bullets'
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      }
    };
    const css = document.createElement('link');
    css.href = 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css';
    css.rel = 'stylesheet';
    css.type = 'text/css';
    document.head.appendChild(css);
    const script = document.createElement('script');
    script.src = 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js';
    script.setAttribute('charset', 'UTF-8');
    document.head.appendChild(script);
    script.onload = function() {
      const swiper = new Swiper('.swiper', option);
    };
  }();
</script>
{% schema %}
{
  "name": "Swiper Slideshow",
  "settings": [
    {
      "type": "range",
      "id": "speed",
      "min": 100,
      "max": 1000,
      "step": 100,
      "unit": "ミリ秒",
      "label": "スライド速度",
      "default": 500
    },
    {
      "type": "range",
      "id": "delay",
      "min": 100,
      "max": 9000,
      "step": 100,
      "unit": "ミリ秒",
      "label": "スライド切り替わり時間",
      "default": 3500
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "スライド画像",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "リンク先"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Swiper Slideshow",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}